.dashboard {
    display: flex;
}

.dashboard-container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.header-line {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    left: 80%;
    padding: 0;
    display: block;
    margin-bottom: 0px;
}

.header-title {
    font-size: 20px;
    color: #333;
}

.dashboard-welcome {
    margin-bottom: 20px;
    font-size: 18px;
    color: #555;
}

.dashboard-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.card {
    padding: 20px;
    color: white;
    border-radius: 8px;
    height: 100px; /* Fixed height for all cards */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center content vertically */
    align-items: center; /* Center content horizontally */
    box-sizing: border-box; /* Ensure padding is included in height calculation */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Specific background colors for each card */
.card-sadar {
    background-color: #3498db; /* Blue for SADAR */
}

.card-golra {
    background-color: #e74c3c; /* Red for GOLRA */
}

.card-g10 {
    background-color: #f1c40f; /* Yellow for G-10 */
}

.card-melody {
    background-color: #2ecc71; /* Green for MELODY */
}

.card-sixthroad {
    background-color: #9b59b6; /* Purple for Sixth-Road */
}

.card-chaklala {
    background-color: #e67e22; /* Orange for Chaklala */
}

.card-alipur {
    background-color: #1abc9c; /* Teal for Ali Pur */
}
